# See http://help.github.com/ignore-files/ for more about ignoring files.

.idea
# compiled output
venv
__pycache__
# Ignore all contents of my_folder
#projects/*
## But keep the my_folder directory itself
#!projects/

